html,
body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 99;
    opacity: 1;
    transition: opacity 1.2s ease;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(19, 19, 19);
    height: 100px;
    z-index: 101;
}

.nav-links {
    display: flex;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.nav-links a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #d4af37;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 101;
    position: absolute;
    right: 80px;
    top: auto;
}

.logo {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.logo img {
    width: 85px;
    cursor: pointer;
    z-index: 101;
    position: absolute;
    left: 20px;
    top: 10px;
}

@media screen and (max-width: 1000px) {
    :root {
        --extra-width: calc(100% + 1px);
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(19, 19, 19);
        padding: 10px 0;
        box-sizing: border-box;
        z-index: 99;
        opacity: 0;
        text-align: center;
        margin-top: 59px;
        transition: opacity 0.25s ease-in-out;
        pointer-events: none;
    }

    .nav-links.show {
        opacity: 1;
        pointer-events: auto;
        margin-top: 59px;
    }

    .nav-links.show a:hover {
        color: #d4af37;
    }

    .menu-toggle {
        transition: opacity 0.25s ease-in-out;
        display: none;
        color: #f0f0f0;
        font-size: 24px;
    }

}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width:1000px) {
    .parallax-container {
        display: none;
    }
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../background.png');
    background-size: cover;
    background-attachment: fixed;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.parallax-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    top: 45%;
    transform: translateY(-50%);
}

.parallax-text.second {
    font-size: 22px;
    font-weight: normal;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    cursor: pointer;
    padding: 10px;

    animation: bounce 3s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-10px);
    }

    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

.services-container {
    text-align: center;
    margin: 50px auto;
    width: 80%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 40px;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .services-container {
        margin-top: 100px;
    }

    .services-container.second {
        margin: 0 auto;
    }
}

.services-container h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.services-container p {
    font-size: 2.3em;
    color: #666;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.service {
    width: 30%;
    text-align: center;
}

.service img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .services-grid {
        display: block;

    }

    .service {
        width: 100%;

        margin-bottom: 20px;

    }

    .service img {
        display: none;
    }
}

.service h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
}

.service p {
    font-size: 1.3em;
    color: #444;
}

.text h3 {
    margin-bottom: 10px;
    color: #333;
}

.text p {
    color: #555;
}

.services-container.second {
    background-color: #ffffff;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
}

.section-content {
    width: 45%;
}

.section-content h2 {
    font-size: 1.5em;
    color: #333;
}

.section-content p {
    font-size: 1em;
    color: #555;
}

.section-img {
    width: 45%;
}

@media screen and (max-width: 1000px) {
    .services-container.second .section {
        display: block;

        width: 100%;

        margin-bottom: 20px;

    }

    .section-content,
    .section-img {
        width: 100%;

        text-align: center;

    }

    .section-img img {
        width: 100%;

        height: auto;

    }

    .section-content p {
        margin-bottom: 20px;

    }
}

.section-img img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.booking-section {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 200px;
}

.booking-section h3 {
    font-size: 3em;
}

.booking-button {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.8s ease;
    margin-top: -20px;
}

@media screen and (max-width:1000px) {
    .booking-button {
        font-size: 1em;
    }

    .booking-section {
        margin-bottom: 100px;
    }
}

.booking-button:hover {
    background-color: #181818;
    color: #d4af37;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a img {
    width: 30px;
    height: 30px;
}
.services-container.about {
    margin-top: 120px;
    background-color: #ffffff;
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
}