.calendar-container {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    justify-content: center;

    margin-top: 180px;
}

.month {
    width: 20%;

    min-width: 150px;

    padding: 10px;

    border: 1px solid #ddd;

    background-color: #fff;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    min-width: 200px;
}

.month-header {
    text-align: center;

    font-weight: bold;

}

.day-header {
    display: flex;

    justify-content: space-around;

}

.day-header span {
    font-size: 0.8em;

}

.day-grid {
    display: grid;

    grid-template-columns: repeat(7, 1fr);

}

.day {
    padding: 5px;

    text-align: center;

    border-radius: 4px;

    cursor: pointer;

    font-size: 0.9em;

}

.day.available {
    background-color: #90ee90;

}

.day.reserved {
    background-color: #ff6347;

}

.day:hover {
    background-color: #e0e0e0;

}

.modal {
    display: none;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    background-color: #fff;

    margin: 15% auto;

    padding: 20px;

    border-radius: 10px;

    width: 60%;

}

@media screen and (max-width: 1000px) {
    .modal-content {
        margin: 35% auto;
    }
}

.close {
    color: #aaa;

    font-size: 28px;

    cursor: pointer;

    float: right;

}

.close:hover {
    color: #555;

}